* {
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  background-color: #081b31;
  color: #fff;
  height: 3em;
  line-height: 3em;
}
.choice {
  height: 105px;
  width: 105px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.choice:hover {
  cursor: pointer;
  background-color: #081b31;
}
.choice img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}
#user-score,
#comp-score {
  font-size: 4rem;
}

.msg {
  background-color: #081b31;
  color: #fff;
}
.msg-container {
  margin-top: 3rem;
}
#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
